.qtty {
    display: flex;

    &__control {
        background: linear-gradient(0deg, $brand_orange 15.58%, $brand_red 100%);
        box-shadow: 0px 5px 0px $brand_brown;
        
        color: #fff;
        min-height: 25px;
        min-width: 25px;

        // Borders on minus
        &:first-child {
            border-radius: 5px 0px 0px 5px;
        }

        // Borders on plus
        &:last-child {
            border-radius: 0px 5px 5px 0px;
        }

        &:hover:not(.qtty__control_value),
        &:focus:not(.qtty__control_value) {
            background: linear-gradient(0deg, $brand_orange 15.58%, $brand_red 100%);
        }

        &_value {
            border-left: 1px solid $brand_brown;
            border-right: 1px solid $brand_brown;
            font-size: 20px;
            text-align: center;
            padding: 0 0.3em;
            cursor: default;
        }
    }
}