$bg: rgba(#000, .6);
$bg_hover: rgba(#fff, .15);

$brand_red: #FF6464;
$brand_orange: #FFA654;
$brand_brown: #945F2F;

$section-space: 50px;
$section-space_top-bottom: $section-space 0;
$section-space_top: $section-space 0 0 0;
$section-space_bottom: 0 0 $section-space 0;